body{
    font-family: 'Poppins', sans-serif;
}
.Header{
     color: rgb(238, 14, 100);
     font-size: 50px;
     margin-top:0px;
     margin-left: 5px;
}.first-half h2{
    font-size : 38px;
    margin-bottom: 0px;
}
.first-half{
    width: 40%;
    float: left;
    margin-left: 5%;
    padding-left: 2%;
}
.first-half img{
    width: 100%;
}
#hello{
   margin-top: 10%;
   margin-left: 135px;
}
.first-half p{
    color: gray;
    padding-bottom: 20px;
}
.first-section{
    padding-top:150px;
    padding-right: 100px;
}
.link{
    text-decoration: none;
    color: white;
    background-image: linear-gradient(45deg,rgb(238,14,100),blue);
    padding: 10px 40px;
    border-radius: 7px;
    font-weight: 700px;
}