body{
    font-family: 'Poppins', sans-serif;
}
.Header{
     color: rgb(238, 14, 100);
     font-size: 55px;
     margin-top:0px;
     margin-left: 5px;
}.first-half h2{
    font-size : 38px;
    margin-bottom: 0px;
}
.first-half{
    width: 40%;
    float: left;
    margin-left: 5%;
    padding-left: 2%;
}
.first-half img{
    width: 95%;
}
#hello{
   margin-top: 10%;
   margin-left: 135px;
}
#ok{
    margin-top:35%;
    margin-bottom: 5%;
    font-size: 35px;
}
.first-half p{
    color: gray;
    padding-bottom: 20px;
}
section{
    height:800px;
}
.first-section{
    padding-top:150px;
    padding-right: 100px;
    margin-right: 6px;
    background-image: url("personal-website/header-bg1.png");
    background-repeat: no-repeat;
}
.link{
    text-decoration: none;
    color: white;
    background-image: linear-gradient(45deg,rgb(238,14,100),blue);
    padding: 10px 40px;
    border-radius: 7px;
    font-weight: 700px;
}
#ok1{
    margin-right: 10%;
}
.h{
    color:orange;
}
.he{
    color: lightseagreen;
}
.jk{
    color: rgb(238, 14, 100);
}
.second-section{
    background-image: url("personal-website/biography1-bg.png");
    background-repeat: no-repeat;
}
.second-section img{
    width: 85%;
}
.second-half{
    margin-top: 75px;
    margin-left: 50px;
}
#third-half-1{
    float: left;
    width: 30%;
    margin-left:4%;
    padding-left: 1%;
}
#third-half-2{
    float: left;
    width: 30%;
}
#third-half-3{
    float: left;
    width: 30%;
  margin-right: 1%;
}
.thrid img{
     width: 75%;
     height: 20%;
}

.third-section h1{
    text-align: center;
    padding-bottom:50px;
}
.third-section{
     background-image: url("personal-website/latest-work-bg1.png");
     background-repeat: no-repeat;
     background-position: left;
     height:650px;
}
#header{
    text-align: center;
    font-size: 40px;
    font-weight: 1000;
    padding-bottom: 20px;
}
.all h1{
text-align: center;
}
.all h4{
text-align: center;
font-size: 20px;
}
.all h6{
    text-align: center;
}
.all p{
    text-align: center;
    color: darkslategrey;
    padding-bottom: 150px;
}
.grey{
    color: gray;
}
.programminglink{
    text-align: center;
}

.four-section{
    background-image: url("personal-website/footer-bg1.png");
    background-repeat: no-repeat;
    background-position: left;
    height: 800px;

}
.button{
    text-decoration: none;
    color :white;
    background-image: linear-gradient(45deg,rgb(238, 14, 100),lightseagreen);
    padding : 45px 100px 45px 100px;
    border-radius: 7px;
    border-top: none;
    border-right: none;
    border-left: none;
    border-bottom: none;
}
#myspan1{
    text-align: center;
    font-size: 25px;
}
#myspan2{
    text-align: center;
}
#copyright{
    padding-top :100px;
    text-align:center;
    color: grey;
    font-size: 15px;
}